# RAG Chatbot API Configuration

# API Configuration
DEBUG=False
SECRET_KEY=xxxxx
JWT_SECRET=xxx

# Gemini API Configuration
GEMINI_API_KEYS=xxxxxxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxxxxxx  

GEMINI_MODEL=gemini-2.5-flash-lite-preview-06-17	
GEMINI_EMBEDDING_MODEL=gemini-embedding-001


# Vector Store Configuration
CHROMA_PERSIST_DIRECTORY=./data/chroma_db
FAISS_INDEX_PATH=./data/faiss_index

# File Upload Configuration
UPLOAD_DIR=./data/uploads
MAX_FILE_SIZE=10
ALLOWED_EXTENSIONS=.pdf,.docx,.txt,.wav,.mp3,.m4a, .ogg

# RAG Configuration
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
MAX_CONTEXT_LENGTH=4000
TOP_K_RETRIEVAL=5

# Speech Configuration
WHISPER_MODEL=base
TEMP_AUDIO_DIR=./data/temp 

VECTOR_STORE_TYPE=zilliz
MONGODB_URI=mongodb+srv://xxxxx:xxxxx
MONGODB_DATABASE=xxxxx
MONGODB_COLLECTION=documents


ZILLIZ_URI=https://xxxx-xxxxxxxx.xxxxx.aws-eu-central-1.cloud.zilliz.com
ZILLIZ_TOKEN=xxxxxxxxxx
# ZILLIZ_TOKEN=xxxxxxxxxxxxxxx
   