# Core framework
fastapi
uvicorn
pydantic

# Vector database
chromadb
pymongo
motor
pymilvus

# AI / ML
numpy

# LangChain + integrations
langchain

# # Google AI APIs
# google-genai
google-generativeai

# File processing
python-docx
PyPDF2
Pillow

# Utilities
python-dotenv
passlib[bcrypt]
python-jose[cryptography]

#debug
protobuf<6,>=5.26.1


pydub

google-generativeai>=0.4.0

python-multipart
